<section class="demo-1 h-100 text-center d-flex flex-column justify-content-center align-items-center justify-content-center">
  <div class="glitch">
    <div class="glitch__img"></div>
    <div class="glitch__img"></div>
    <div class="glitch__img"></div>
    <div class="glitch__img"></div>
    <div class="glitch__img"></div>
  </div>
  <div class="position-relative">
    <img class="logo content__title" style="height: 200px" src="assets/images/logo-xl.svg" alt="" />
    <a class="main-button btn btn-outline-primary btn-lg" [href]="'COMMON.LINK_GITHUB' | translate">
      <i class="ti ti-brand-github"></i>
      {{ 'LANDING.EXPLORE_ON_GITHUB' | translate }}
    </a>
  </div>
  <p class="content__text">{{ 'LANDING.SLOGAN' | translate }}</p>
  <div class="line__1"></div>
  <div class="line__2"></div>
  <div class="line__3"></div>
  <div class="line__4"></div>
  <!-- <div class="line__5"></div> -->
</section>
