<!-- <section class="h-100 text-center d-flex flex-column justify-content-center align-items-center justify-content-center">
  <div class="title-bg"></div>
  <img class="logo" style="height: 200px" src="assets/images/logo-xl.svg" alt="" />
</section> -->

<main class="demo-1">
  <div class="content imgloaded">
    <div class="glitch">
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
      <div class="glitch__img"></div>
    </div>
    <h2 class="content__title">Haunted</h2>
    <p class="content__text">
      Evening was in the wood, louring with storm. A time of drought had sucked the weedy pool and baked the channels; birds had done with
      song.
    </p>
  </div>
</main>
